WEB_PORT=27808
HOTEL_PORT=8080
ADMIN_PORT=8081

MYSQL_PORT=3306
MYSQL_DATABASE=sushijia
MYSQL_PASSWORD=change-this-mysql-password

REDIS_PORT=6379

JWT_SECRET=change-this-to-a-long-random-secret
AMAP_WEB_KEY=
